<section class="thirteen columns">
    <h1>About me</h1>
    <article>
        <p>
            <em>I am a postdoc researcher in Department of Computer Science of ETH Zürich.
            I obtained my Ph.D in Computer Science from Peking University in 2018, M.Sc from University of Chinese Academy of Sciences in 2014, and B.Sc from University of Science Technology of China in 2011 respectively.
            And I worked in Data Platform Department of Tencent as a senior researcher from 2018 to 2019.
        </em>
        </p>
    </article>
</section>
