<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D in Computer Science</h1>
            <span>Peking University </span>
            <span><address>Beijing, China</address><time>2014 to 2018</time></span>
        </header>
        <p>
            <em>Research interests: Big data processing and analysis, distributed machine learning, distributed optimization</em>
        </p>
    </article>
    <article>
        <header>
            <h1>M.Sc in Communication Engineering</h1>
            <span>University of Chinese Academy of Sciences</span>
            <span><address>Beijing, China</address><time>2011 to 2014</time></span>
        </header>
        <p>
            <em>Research interests: Multimedia on mobile devices, near duplicate video retrieval, web crawler, network load balancing</em>
        </p>
        <p>
            <em>Thesis: Research and Implementation of Video Aggregation and Multi-Screen Service System</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.Sc in Automation</h1>
            <span>University of Science and Technology of China</span>
            <span><address>Hefei, China</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Thesis: Implementation of Distributed Load Balance System on Nginx</em>
        </p>
    </article>
</section>
