<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>System and Algorithm Engineer (Internship)</h1>
            <span><address>Tencent Inc., Shenzhen/Beijing, China</address><time>2015.7 to Present</time></span>
        </header>
        <p>Large-scale machine learning platform; parallel and distributed machine learning algorithms; distributed optimization</p>
    </article>
    <article>
        <header>
            <h1>Software Engineer (Internship)</h1>
            <span><address>Alibaba Inc., Beijing, China</address><time>2013.7 to 2013.9</time></span>
        </header>
        <p>Large-scale real-time analyses of massive log; based on Storm and Kafka</p>
    </article>
</section>
