<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Senior Researcher</h1>
            <span><address>Tencent Inc. @ Beijing, China</address><time>July 2018 to Present</time></span>
        </header>
        <p><em>Large-scale machine learning platform; machine learning algorithms; automatic machine learning</em></p>
    </article>
    <article>
        <header>
            <h1>System and Algorithm Engineer (Internship)</h1>
            <span><address>Tencent Inc. @ Shenzhen/Beijing, China</address><time>July 2015 to July 2018</time></span>
        </header>
        <p><em>Large-scale machine learning platform; parallel and distributed machine learning algorithms; distributed optimization</em></p>
    </article>
    <article>
        <header>
            <h1>Software Engineer (Internship)</h1>
            <span><address>Alibaba Inc. @ Beijing, China</address><time>July 2013 to Sep. 2013</time></span>
        </header>
        <p><em>Large-scale real-time analyses of massive log with Storm and Kafka</em></p>
    </article>
</section>
