<section class="thirteen columns">
    <h1>Honors</h1>
    <article>
        <header>
            <h1>CCF (China Computer Federation, 中国计算机学会)</h1>
        </header>
        <p>
            <em>CCF Outstanding Doctoral Dissertation Award, 2019</em>
        </p>
    </article>
    <article>
        <header>
            <h1>ACM</h1>
        </header>
        <p>
            <em>ACM China Doctorial Dissertation Award, 2018</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Peking University</h1>
        </header>
        <p>
            <em>Outstanding Graduate Award (Top 2%), 2018</em>
        </p>
        <p>
            <em>Outstanding Doctoral Thesis (Top 1%), 2018</em>
        </p>
        <p>
            <em>Top Research Student Award (Top 1%), 2018</em>
        </p>
        <p>
            <em>National Scholarship (Top 1%), 2017</em>
        </p>
        <p>
            Outstanding Student, 2017
        </p>
        <p>
            <em>President Scholarship (Top 2%), 2017</em>
        </p>
    </article>
    <article>
        <header>
            <h1>University of Chinese Academy of Sciences</h1>
        </header>
        <p>
            <em>National Scholarship (Top 2%), 2013</em>
        </p>
        <p>
            Outstanding Student, 2013
        </p>
    </article>
    <article>
        <header>
            <h1>University of Science and Technology of China</h1>
        </header>
        <p>
            <em>First-class Scholarship (Top 5%), 2010</em>
        </p>
    </article>
</section>
