<section class="thirteen columns">
    <h1>Honors</h1>
    <article>
        <header>
            <h1>Tencent Inc.</h1>
        </header>
        <p>
            <em>Technological breakthrough award (Angel project), 2016</em>
        </p>
        <p>
            <em>Technological breakthrough award (Angel project), 2017</em>
        </p>
     </article>
    <article>
        <header>
            <h1>Peking University</h1>
        </header>
        <p>
            <em>Special Student Scholarship (Top 10%), 2016</em>
        </p>
        <p>
            <em>Special Student Scholarship (Top 10%), 2015</em>
        </p>
    </article>
    <article>
        <header>
            <h1>University of Chinese Academy of Sciences</h1>
        </header>
        <p>
            <em>National Scholarship (Top 2%), 2013</em>
        </p>
        <p>
            Outstanding League Cadres, 2013
        </p>
        <p>
            Outstanding Student, 2013
        </p>
    </article>
    <article>
        <header>
            <h1>University of Science and Technology of China</h1>
        </header>
        <p>
            <em>First-class Scholarship (Top 5%), 2010</em>
        </p>
        <p>
            Second-class Scholarship (Top 10%), 2009
        </p>
        <p>
            Second-class Prize, The 5th Freescale National University Students Intelligent Car Race, 2010
        </p>
    </article>
</section>
