<section class="thirteen columns">
    <h1>Social activities</h1>
    <article>
        <header>
            <h1>Student Community</h1>
            <span><address>Graduate Student Union @ Peking University</address><time>2014 to 2015</time></span>
            <br />
            <span><address>Graduate Student Union @ University of Chinese Academy of Sciences</address><time>2012 to 2013</time></span>
            <br />
            <span><address>Student Union @ University of Science and Technology of China</address><time>2007 to 2009</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Alumnus Volunteer</h1>
            <span><address>Initiative Foundation, University of Science and Technology of China</address><time>2011 to Present</time></span>
        </header>
        <p>
            Online donation system development and mantainance.
        </p>
    </article>
</section>