<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Papers</h1>
        </header>
        <p>
            <em>Jiawei Jiang</em>, Bin Cui, Ce Zhang, Fangcheng Fu. DimBoost: Boosting Gradient Boosting Tree to Higher Dimensions. ACM <em>SIGMOD</em> International Conference on Management of Data, 2018.
        </p>
        <p>
            <em>Jiawei Jiang</em>, Fangcheng Fu, Tong Yang, Bin Cui. SketchML: Accelerating Distributed Machine Learning with Data Sketches. ACM <em>SIGMOD</em> International Conference on Management of Data, 2018.
        </p>
        <p>
            <em>Jiawei Jiang</em>, Ming Huang, Jie Jiang, Bin Cui. TeslaML: Steering Machine Learning Automatically In Tencent. <em>APWeb-WAIM</em> Joint Conference on Web and Big Data, 2017.
        </p>
        <p>
            Jie Jiang, <em>Jiawei Jiang</em>, Bin Cui, Ce Zhang. TencentBoost: A Gradient Boosting Tree System with Parameter Server. IEEE International Conference on Data Engineering (<em>ICDE</em>), 2017.
        </p>
        <p>
            <em>Jiawei Jiang</em>, Bin Cui, Ce Zhang, Lele Yu. Heterogeneity-aware Distributed Parameter Servers. ACM <em>SIGMOD</em> International Conference on Management of Data, 2017.
        </p>
        <p>
            <em>Jiawei Jiang</em>, Zhipeng Zhang, Bin Cui, Yunhai Tong, Ning Xu. StroMAX: Partitioning-based Scheduler for Real-time Stream Processing System. The 22nd International Conference on Database Systems for Advanced Applications (<em>DASFAA</em>), 2017.
        </p>
        <p>
            <em>Jiawei Jiang</em>, Yunhai Tong, Hua Lu, Bin Cui, Kai Lei, Jie Jiang, Lele Yu. GVoS: A General System for Near-Duplicate Video Related Applications on Storm. ACM Transactions on Information System (<em>TOIS</em>), 2017.
        </p>
        <p>
            Jie Jiang, Lele Yu, <em>Jiawei Jiang</em>, Yihong Liu, Bin Cui. Angel: A new large scale machine learning system. <em>National Science Review</em>, 2017.
        </p>
        <p>
            <em>Jiawei Jiang</em>, Haojiang Deng, Xue Liu. A Predictive Dynamic Load Balancing Algorithm with Service Differentiation, The 15th IEEE International Conference on Communication Technology, 2013.
        </p>
    </article>
    <article>
        <header>
            <h1>Invention Patents</h1>
        </header>
        <p>
            Data Management Method and Equipment (数据处理方法及装置), 201710327036.4.
        </p>
        <p>
            A Method and Equipment of Multimedia Retrieval (一种多媒体信息检索方法及装置), 201710326718.3.
        </p>
        <p>
            Parameter Server Based Implementation and Equipment of GBDT (基于参数服务器的梯度提升决策树的实现方法及相关设备), 201710326930.X.
        </p>
        <p>
            A Distributed Machine Learning Method and System (分布式机器学习方法和系统), 201610968121.4.
        </p>
        <p>
            A Dynamic Load Balancing Method Based on Resource Prediction (一种基于资源消耗预测的动态负载均衡方法及装置), 201310029902.3.
        </p>
         <p>
            A Duplicate Video Removal Method (一种视频内容去重的处理方法), 201310221597.8.
        </p>
        <p>
            A Video Aggregation Method and System Based on Popular Topics of Microblogs (一种基于微博热门话题的视频聚合方法及系统), 201310566249.4.
        </p>
        <p>
            A Fast Switch Device and Method for VOD Between Screens (一种实现多屏间的视频点播快速切换装置及方法), 201410008421.9.
        </p>
        <p>
            A Crawler for Video Source and Content (一种视频内容及内容源爬取方法), 201310022725.6.
        </p>
    </article>
</section>
