<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Papers</h1>
        </header>
	<p>
	- Haoyu Zheng, Yongqiang Zhang, Fangcheng Fu, Xiaokai Zhou, Hao Luo, Hongchao Zhu, Yuanyuan Zhu, Hao Wang, Xiao Yan*, <em>Jiawei Jiang*</em>. Scheduling LLM Inference with Uncertainty-Aware Output Length Predictions. <em>ICML</em>, 2026.
	</p>
	<p>
	- Hao Luo, Xiao Yan, Xinyan Li, Qiming Zeng, Yuhao Lin, Shanshan Feng, Hao Wang, <em>Jiawei Jiang*</em>. AdaMix: Adaptive Mixing for Short and Long Reasoning Adapters. <em>ACL</em>, 2026.
	</p>
	<p>
	- Haowei Han, Kexin Hu, Weiwei Cai, Debiao Zhang, Bin Qin, Yuxiang Wang, <em>Jiawei Jiang*</em>, Xiao Yan*, Bo Du. MiCU: End-to-End Smart Home Command Understanding with Large Language Model. <em>SIGKDD</em>, 2026.
	</p>
	<p>
	- Yi Wei, Xiaokai Zhou, Shanshan Feng, Chuang Hu, Xiao Yan*, <em>Jiawei Jiang*</em>. LAUA: Handling Missing Modalities and Unpaired Data in Multimodal Federated Learning. <em>SIGKDD</em>, 2026.
	</p>
	<p>
	- Yuhao Lin, Zhipeng Tang, Jiayan Tong, Junqing Xiao, Bin Lu, Yuhang Li, Chao Li, Zhiguo Zhang, Junhua Wang, Hao Luo, James Cheng, Chuang Hu, <em>Jiawei Jiang*</em>, Xiao Yan*. FuxiShuffle: An Adaptive and Resilient Shuffle Service for Distributed Data Processing on Alibaba Cloud. <em>SIGMOD</em> (Industry Track), 2026. 
	</p>
	<p>
	- Qiang Huang, Ke Liu, Liang Deng, Sijing Zhang, Chuang Hu, Tieyun Qian, Xiao Yan*, <em>Jiawei Jiang*</em>. DM-RAG: Enhancing User Support in Dameng Databases with Retrieval-Augmented Generation. <em>ICDE</em> (Industry Track), 2026. 
	</p>
	<p>
	- Yong Zhou, <em>Jiawei Jiang*</em>, Bo Du, Hengyi Yang, Qianfan Hu. Domain-aware Behavior Cloning for Bridging the Sim-to-real Gap of Legged Robots. <em>Science China Information Sciences</em>, 2026.
	</p>
	<p>
	- Yuxiang Wang, Chi Ma, Xiao Yan*, Mincong Huang, Xiaoguang Li, Ruidong Han, Bin Yin, Shangyu Chen, Xiang Li, Fei Jiang, Lei Yu, Chuan Liu, Wei Lin, Haowei Han, Xiaokai Zhou, Bo Du, <em>Jiawei Jiang*</em>. MTGenRec: An Efficient Distributed Training System for Generative Recommendation Models in Meituan. <em>SIGKDD</em>, 2026.
	</p>
	<p>
	- Xiaokai Zhou, Xiao Yan, Xinyan Li, Yuxiang Wang, Quanqing Xu, Chuang Hu, Tieyun Qian, <em>Jiawei Jiang*</em>. HAL: Accurate, Private, and Efficient Sample Alignment for Multimodal Federated Learning. <em>SIGKDD</em>, 2026.
	</p>
	<p>
	- Xiaokai Zhou, Xiao Yan, Fangcheng Fu, Ziwen Fu, Tieyun Qian, Yuanyuan Zhu, Qinbo Zhang, Bin Cui, <em>Jiawei Jiang*</em>. PS-MI: Accurate, Efficient, and Private Data Valuation in Vertical Federated Learning. <em>VLDB</em>, 2025.
	</p>
	<p>
	- Xiaokai Zhou, Xiao Yan, Fangcheng Fu, Xinyan Li, Hao Huang, Quanqing Xu, Chuanhui Yang, Bo Du, Tieyun Qian, <em>Jiawei Jiang*</em>. Hounding Data Diversity: Towards Participant Selection in Vertical Federated Learning. <em>ICDE</em>, 2025.
	</p>
	<p>
	- Xin Wang, <em>Jiawei Jiang*</em>, Xiao Yan, Qiang Huang. TESA: A Trajectory and Semantic-aware Dynamic Heterogeneous Graph Neural Network. <em>WWW</em> (Oral), 2025.
	</p>
	<p>
	- Qinbo Zhang, Xiao Yan, Yukai Ding, Fangcheng Fu, Quanqing Xu, Ziyi Li, Chuang Hu, <em>Jiawei Jiang*</em>. HaCore: Efficient Coreset Construction with Locality Sensitive Hashing for Vertical Federated Learning. <em>AAAI</em> (Oral), 2025.
	</p>
	<p>
	- Yuxiang Wang, Xiao Yan, Shiyu Jin, Hao Huang, Quanqing Xu, Qingchen Zhang, Bo Du, <em>Jiawei Jiang*</em>. Self-Supervised Learning for Graph Dataset Condensation. <em>SIGKDD</em>, 2024.
	</p>
	<p>
	- Yuxiang Wang, Xiao Yan, Chuang Hu, Quanqing Xu, Chuanhui Yang, Fangcheng Fu, Wentao Zhang, Hao Wang, Bo Du, <em>Jiawei Jiang*</em>. Generative and Contrastive Paradigms Are Complementary for Graph Self-Supervised Learning. <em>ICDE</em>, 2024.
	</p>
	<p>
	- Qiang Huang, Xin Wang, Susie Xi Rao, Zhichao Han, Zitao Zhang, Yongjun He, Quanqing Xu, Yang Zhao, Zhigao Zheng, <em>Jiawei Jiang*</em>. BenchTemp: A General Benchmark for Evaluating Temporal Graph Neural Networks. <em>ICDE</em>, 2024.
	</p>
	<p>
	- <em>Jiawei Jiang</em>, Hao Huang, Zhigao Zheng, Yi Wei, Fangcheng Fu, Xiaosen Li, Bin Cui. Detecting and Analyzing Motifs in Large-scale Online Transaction Networks. <em>TKDE</em>, 2024.
	</p>
	<p>
	- <em>Jiawei Jiang</em>, Shaoduo Gan, Bo Du, Gustavo Alonso, Ana Klimovic, Ankit Singla, Wentao Wu, Sheng Wang, Ce Zhang. A Systematic Evaluation of Machine Learning on Serverless Infrastructure. <em>The VLDB Journal</em>, 2024.
	</p>
	<p>
	-  <em>Jiawei Jiang</em>, Yi Wei, Yu Liu, Wentao Wu, Chuang Hu, Zhigao Zheng, Ziyi Zhang, Yingxia Shao, Ce Zhang. How Good Are Machine Learning Clouds? Benchmarking Two Snapshots Over 5 Years. <em>The VLDB Journal</em>, 2024.
	</p>
	<p>
	- <em>Jiawei Jiang</em>, Lukas Burkhalter, Fangcheng Fu, Bolin Ding, Bo Du, Anwar Hithnawi, Bo Li, Ce Zhang. VF-PS: How to Select Important Participants in Vertical Federated Learning, Efficiently and Securely? <em>NeurIPS</em>, 2022.
	</p>
        <p>
            - <em>Jiawei Jiang</em>, Yusong Hu, Xiaosen Li, Wen Ouyang, Zhitao Wang, Fangcheng Fu, Bin Cui. Analyzing Online Transaction Networks with Network Motifs. <em>SIGKDD</em>. 2022.
        </p>
        <p>
            - Lijie Xu, Shuang Qiu, Binhang Yuan, <em>Jiawei Jiang</em>, et al. In-Database Machine Learning with CorgiPile: Stochastic Gradient Descent without Full Data Shuffle. <em>SIGMOD</em>, 2022.
        </p>
        <p>
            - <em>Jiawei Jiang</em>, Shaoduo Gan, Yue Liu, Fanlin Wang, Gustavo Alonso, Ana Klimovic, Ankit Singla, Wentao Wu, Ce Zhang. Towards Demystifying Serverless Machine Learning Training. <em>SIGMOD</em>, 2021.
        </p>
        <p>
            - Fangcheng Fu, Yingxia Shao, Lele Yu, <em>Jiawei Jiang</em>, Huanran Xue, Yangyu Tao, Bin Cui. VF2Boost: Very Fast Vertical Federated Gradient Boosting for Cross-Enterprise Learning. <em>SIGMOD</em>, 2021.
        </p> 
        <p>
            - Xupeng Miao, Xiaonan Nie, Yingxia Shao, Zhi Yang, <em>Jiawei Jiang</em>, Lingxiao Ma, Bin Cui. Heterogeneity-Aware Distributed Machine Learning Training via Partial Reduce. <em>SIGMOD</em>, 2021.
        </p> 
        <p>
            - Yang Li, Yu Shen, Wentao Zhang, Yuanwei Chen, Huaijun Jiang, Mingchao Liu, <em>Jiawei Jiang</em>, Jinyang Gao, Wentao Wu, Zhi Yang, Ce Zhang, Bin Cui. Openbox: A generalized black-box optimization service. <em>SIGKDD</em>, 3209-3219, 2021.
        </p>
        <p>
            - Yang Li, Yu Shen, Wentao Zhang, <em>Jiawei Jiang</em>, Bolin Ding, Yaliang Li, Jingren Zhou, Zhi Yang, Wentao Wu, Ce Zhang, Bin Cui. VolcanoML: speeding up end-to-end AutoML via scalable search space decomposition. <em>VLDB</em>, 2021.
        </p> 
        <p>
            - Yang Li, Shen Yu, <em>Jiawei Jiang</em>, Jinyang Gao, Ce Zhang, Bin Cui. MFES-HB: Efficient Hyperband with Multi-Fidelity Quality Measurements. <em>AAAI</em>, 2021.
        </p>
        <p>
            - Xupeng Miao, Wentao Zhang, Yingxia Shao, Bin Cui, Lei Chen, Ce Zhang, <em>Jiawei Jiang</em>. Lasagne: A multi-layer graph convolutional network framework via node-aware deep architecture. <em>TKDE</em>, 2021.
        </p>
        <p>
            - Yang Li, <em>Jiawei Jiang</em>, Jinyang Gao, Yingxia Shao, Ce Zhang, Bin Cui. Efficient Automatic CASH via Rising Bandits. <em>AAAI</em>, 2020.
        </p>
        <p>
            - Fangcheng Fu, Yuzheng Hu, Yihan He, <em>Jiawei Jiang</em>, Yingxia Shao, Zhang Ce, Bin Cui. Don’t Waste Your Bits! Squeeze Activations and Gradients for Deep Neural Networks via TinyScript. <em>ICML</em>, 2020.
        </p>
        <p>
            - <em>Jiawei Jiang</em>, Pin Xiao, Lele Yu, Xiaosen Li, Jiefeng Cheng, Xupeng Miao, Zhipeng Zhang, Bin Cui. PSGraph: How Tencent trains large-scale graphs with Spark? <em>ICDE</em> (Industry track), 2020.
        </p>
        <p>
            - Zhipeng Zhang, Wentao Wu, <em>Jiawei Jiang</em>, Lele Yu, Bin Cui. ColumnSGD: A Column-oriented Framework for Distributed Stochastic Gradient Descent. <em>ICDE</em>, 2020.
        </p>
        <p>
            - Wentao Zhang, <em>Jiawei Jiang</em>, Yingxia Shao, Bin Cui. Efficient Diversity-Driven Ensemble for Deep Neural Networks. <em>ICDE</em>, 2020.
        </p>
        <p>
            - <em>Jiawei Jiang</em>, Fangeheng Fu, Tong Yang, Yingxia Shao, Bin Cui. SKCompress: compressing sparse and nonuniform gradient in distributed machine learning. <em>The VLDB Journal</em>, 2020.
        </p>
        <p>
            - Yunyan Guo, Zhipeng Zhang, <em>Jiawei Jiang</em>, Wentao Wu, Ce Zhang, Bin Cui, Jianzhong Li. Model Averaging in Distributed Machine Learning: A Case Study with Apache Spark. <em>The VLDB Journal</em>, 2020.
        </p>
        <p>
            - Wentao Zhang, Xupeng Miao, Yingxia Shao, <em>Jiawei Jiang</em>, Lei Chen, Olivier Ruas, Bin Cui. Reliable Data Distillation on Graph Convolutional Network. <em>SIGMOD</em>, 2020.
        </p>
        <p>
            - Fangeheng Fu, <em>Jiawei Jiang</em>, Yingxia Shao, Bin Cui. An experimental evaluation of large scale GBDT systems. <em>VLDB</em>, 2019.
        </p>
        <p>
            - Zhipeng Zhang, Bin Cui, Yingxia Shao, Lele Yu, <em>Jiawei Jiang</em>, Xupeng Miao. PS2: Parameter server on Spark. <em>SIGMOD</em>, 2019.
        </p>
        <p>
            - Zhipeng Zhang, <em>Jiawei Jiang</em>, Wentao Wu, Ce Zhang, Lele Yu, Bin Cui. MLlib*: Fast training of GLMs using Spark MLlib. <em>ICDE</em>, 2019.
        </p>
        <p>
            - <em>Jiawei Jiang</em>, Bin Cui, Ce Zhang, Fangcheng Fu. DimBoost: Boosting Gradient Boosting Tree to Higher Dimensions. <em>SIGMOD</em>, 2018.
        </p>
        <p>
            - <em>Jiawei Jiang</em>, Fangcheng Fu, Tong Yang, Bin Cui. SketchML: Accelerating Distributed Machine Learning with Data Sketches. <em>SIGMOD</em>, 2018.
        </p>
        <p>
            - Jie Jiang, <em>Jiawei Jiang</em>, Bin Cui, Ce Zhang. TencentBoost: A Gradient Boosting Tree System with Parameter Server. <em>ICDE</em>, 2017.
        </p>
        <p>
            - <em>Jiawei Jiang</em>, Bin Cui, Ce Zhang, Lele Yu. Heterogeneity-aware Distributed Parameter Servers. <em>SIGMOD</em>, 2017.
        </p>
        <p>
            - <em>Jiawei Jiang</em>, Yunhai Tong, Hua Lu, Bin Cui, Kai Lei, Jie Jiang, Lele Yu. GVoS: A General System for Near-Duplicate Video Related Applications on Storm. <em>TOIS</em>, 2017.
        </p>
        <p>
            - Jie Jiang, Lele Yu, <em>Jiawei Jiang</em>, Yihong Liu, Bin Cui. Angel: A new large scale machine learning system. <em>National Science Review</em>, 2017.
        </p>
    </article>
</section>
