<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Papers</h1>
        </header>
        <p>
            Jiawei Jiang, Bin Cui, Ce Zhang, Lele Yu. Heterogeneity-aware Distributed Parameter Servers. SIGMOD 2017. (To Appear)
        </p>
        <p>
            Jiawei Jiang, Zhipeng Zhang, Bin Cui, Yunhai Tong, Ning Xu. StroMAX: Partitioning-based Scheduler for Real-time Stream Processing System. DASFAA 2017 (To Appear)
        </p>
        <p>
            Jiawei Jiang, Yunhai Tong, Hua Lu, Bin Cui, Kai Lei, Jie Jiang, Lele Yu. GVoS: A General System for Near-Duplicate Video Related Applications on Storm. ACM Transactions on Information System, 2017. (To Appear)
        </p>
        <p>
            Jiawei Jiang, Haojiang Deng, Xue Liu. A Predictive Dynamic Load Balancing Algorithm with Service Differentiation, ICCT 2013.
        </p>
    </article>
    <article>
        <header>
            <h1>Invention Patents</h1>
        </header>
        <p>
            A Dynamic Load Balancing Method Based on Resource Prediction (一种基于资源消耗预测的动态负载均衡方法及装置), 201310029902.3
        </p>
         <p>
            A Duplicate Video Removal Method (一种视频内容去重的处理方法), 201310221597.8
        </p>
        <p>
            A Video Aggregation Method and System Based on Popular Topics of Microblogs (一种基于微博热门话题的视频聚合方法及系统), 201310566249.4
        </p>
        <p>
            A Fast Switch Device and Method for VOD Between Screens (一种实现多屏间的视频点播快速切换装置及方法), 201410008421.9
        </p>
        <p>
            A Crwaler for Video Source and Content (一种视频内容及内容源爬取方法), 201310022725.6
        </p>
    </article>
</section>
