<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Programming</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Java, Python, Objective-C, Android/iOS Development</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C/C++, Javascript, HTML</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Platform/Tools Experience</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Storm, Sklearn, Hive, MySql, MongoDB, Lucene, Theano, Anaconda</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Spark, Hadoop, Kafka, Tensorflow</em>
        </p>
    </article>
</section>