<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Programming</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Java, Scala, Python</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C/C++, Objective-C, Android/iOS Development, Javascript, HTML</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Platform/Tools Experience</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Spark, Hadoop, Storm, PyTorch, Tensorflow, Sklearn</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Hive, MySql, MongoDB, Lucene, Kafka</em>
        </p>
    </article>
</section>